<!doctype html>
<html>
	<head>
    	<title>All About Xbox</title>
	
	<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<meta charset="utf-8">
	<meta name="description" content="All About Xbox.A fanbase site to promote Xbox Series X.Make sure to check it out.">	
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="responsive.css">
	<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
	</head>
<script>
	function shownav(){
		
		document.getElementById('navbtn').style.display="none";
		document.getElementById('navlist').style.display="block";
		document.getElementById('hdr').style.height="237px";

	}
	
	
	
	</script>
	
	
	
	
<body>
    <div id="top"></div>
	    <div class="gradient" id="topwrap">
		 <header id="hdr">
		   <img src="../images/xbox.jpg" alt="All About Xbox">
		   <div id="name">
		 
		   <h1>Xbox Series Fanbase</h1>
		   <h2>Accessories</h2>
           </div> 
           <p id="info"><a href="mailto:xbox312@gmail.com">xbox312@gmail.com</a></p> 
		   <nav>
			   <div id="navbtn" onClick="shownav()">
		       <img src="../images/menu.png"  alt="All about Xbox Logo"/> 
			   <p>Navigation</p>
			   </div>
             <ul id="navlist">
                 <li><a href="../Console/index.html">Console</a></li> 
                 <li><a href="../Games/index.html">Games</a></li>
                 <li><a href="../Controller/index.html">Controller</a></li>
                 <li><a href="../index.html">Home</a></li>
             </ul>
           </nav>
		 
		 </header>
		</div>
	 <div id="bottom"></div>	
	<footer class="gradient">
		<h3>Created To Promote Xbox Series X</h3>
	</footer>
</body>
</html>