@charset "utf-8";
/* CSS Document */
@media screen and (max-width:1100px){
	section{
		float: none;
		width:90%;
		padding:1% 5%;
		
	}
	aside{
		width:98%;
		
	}
	#ribbon{
		width:90%;
		padding:0 5%;
		top:11px;
	}
	#boxes{
		padding:0 5%;
	}
	#boxes article{
		width:23%;
		
	}
	#more{
		margin-top:0px ;
	}
	
}

@media screen and (max-width:780px){
	header{
		position:relative;
	}
	#info{
		position:absolute;
		top:70px;
		text-align:left;
		margin: 10px 0px 10px 0px;
	}
	#navbtn{
		display: block;
		position:absolute;
		right:2%;
		bottom:4%;
		width:130px;
		background: #E80002;
		padding:8px ;
		border-radius:10px;
		text-align:right;
		color:white;
		font-weight:bold;
		font-size:1.2em;
		box-shadow:inset 0 0 5px #E80002;
		cursor: pointer;
	}
	#navbtn img{
    border: none;
    float: left;
    width: 24px;
    height: 24px;
    margin: 0px;
	}
	nav {float:none;}

	
	nav ul{
		display:none;
		position:absolute;
		top:120px;
		width:100%;
	}
	
	nav ul li a{
		width:100%;
		padding:0px;
		margin:0px;
	
	}
	nav ul li{
		float:none;
		border-top:2px solid white;
		border-bottom:2px solid white;
		text-align:center;
		background:rgba(255,255,255,.1);
	}
	nav ul li:first-child{
		border-top:4px solid white;
	}
	nav ul li:last-child{
		border-bottom: 4px solid white;	
		}	
}

@media screen and (max-width:1000px){
	#boxes article{
		width:48%;
	}
}
@media screen and (max-width:936px){
	.third{
		margin:2%;
		width:96%;
		padding:0;
		height:auto;
	}
	.line{
    border-left-style: none;
    border-left-width: thin;
    border-top: thin solid #C30003;
       
	}
}
@media screen and (max-width:730px){
	#name h1{
	 font-size: 2.2em;
	}      
	#name h2{
		font-size: 1.5em;
	}
	header img{
		height:60px;
		width:72px;
		}	
	}
@media screen and (max-width:606px){
	#name h1{
	 font-size: 1.8em;
	}      
	#name h2{
		font-size: 1.2em;
	}
	header img{
		height:47px;
		width:60px;
		}	
}

@media screen and (max-width:493px){
	#boxes article{
		width:98%;
	}
	
}

@media screen and (max-width:393px){
	header img{
		display: none;
	}
	#navbtn img{
		display: block;
	}
}